.wrapInfo {
    margin-left:2%;
    margin-right:2%;
    display:block;
}
.toggleInfo {
    width:100%;
    visibility:hidden;
}
.labelToggleInfo {
    display: flex;
    align-items: center;
    background-color: #FF6060;
    border-radius: 10px;
    width:100%;
    height:47px;
    cursor: pointer;
    transition: all 0.25s ease-out;
}
.labelTitleInfo {
    width:96%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-family:'Montserrat';
    font-weight:500;
    font-size: 18px;
    line-height:34px;
    position:relative;
    left:2%;
    right:2%;
}
.labelToggleInfo::before {
    content: '';
    transform:translateY(-2px);
    transition:transform .2s ease-out;
}
.textInfo {
    background-color: #F7F7F7;
    color:#FF6060;
    font-family:'Montserrat';
    font-weight:500;
    font-size:18px;
    line-height:34px;
    width:96%;
    position:relative;
    padding-left:2%;
    padding-right:2%;
    border-radius:0px 0px 10px 10px;
}
.textInnerInfo {
    width:100%;
}
.pTextInfo {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-height:250px;
}
.toggleInfo:checked + .labelToggleInfo + .textInfo {
    max-height:250px;
}
.toggleInfo:checked + .labelToggleInfo::before{
    transform:rotate (0deg) ;
}
.chevron-up {
    transform:rotate(180deg);
}
.chevron-up, .chevron-down{
    position:relative;
    right: 10px;
    width: 16px;
    height:10px; 
    cursor:pointer;
}

@media screen and (max-width:768px) {
    .wrapInfo {
        width:96%;
        margin-top:30px;
        margin-left:2%;
        margin-right:2%;
        margin-bottom: 0%;
    }
    .labelTitleInfo {
        font-size:13px;
        line-height:18.5px;
    }
    .textInfo {
        font-size: 12px;
        line-height: 17.1px;
    }
    .listEquipement {
        display: flex;
        justify-content: flex-end;
    }
    .ulList {
        width:75%;
        right:25%;
    }
}