
.logoTitle {
    width:210px;
    height:88px;
    position:relative;
    left: 10%;
    top:20px;
    text-decoration: none;
}
.logoHeader {
    position:absolute;
    width: 210px;
    height:68px;
    top:20px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .logoTitle {
        top:10px;
        left:2%;
        width:145px;
        height:46px;
    }
    .logoHeader {
        width:145px;
        height:46px;
        top:10px;
    }
}